@import url("../css/global.css");

@import url("../css/font-awesome/font-awesome.min.css");

@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir.eot') format('embedded-opentype'),
      url('../font/Vazir.woff2') format('woff2'),
      url('../font/Vazir.woff') format('woff'),
      url('../font/Vazir.ttf') format('truetype');
  font-weight: normal;
}
  
@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Bold.eot') format('embedded-opentype'),
      url('../font/Vazir-Bold.woff2') format('woff2'),
      url('../font/Vazir-Bold.woff') format('woff'),
      url('../font/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Thin.eot') format('embedded-opentype'),
      url('../font/Vazir-Thin.woff2') format('woff2'),
      url('../font/Vazir-Thin.woff') format('woff'),
      url('../font/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}
  
@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Light.eot') format('embedded-opentype'),
      url('../font/Vazir-Light.woff2') format('woff2'),
      url('../font/Vazir-Light.woff') format('woff'),
      url('../font/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}
  
@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Medium.eot') format('embedded-opentype'),
      url('../font/Vazir-Medium.woff2') format('woff2'),
      url('../font/Vazir-Medium.woff') format('woff'),
      url('../font/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family:'FontAwesome';
  src:url('../font/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
      url('../font/fonts/fontawesome-webfont.woff2') format('woff2'),
      url('../font/fonts/fontawesome-webfont.woff') format('woff'),
      url('../font/fonts/fontawesome-webfont.ttf') format('truetype'),
      url('../font/fonts/fontawesome-webfont.svg') format('svg'),
      url('../font/fonts/FontAwesome.otf') format('otf');
}
/*body*/
body {
  background-color: rgb(230, 227, 227);
  font-family: 'Vazir';
  direction: rtl;
}
/*header style*/
.main-header {
  width:100%;
  background-attachment: fixed;
  text-align: right;
  color: white;
  background-color: #aa1f26;
}

.main-header-background {
  background-image:url("../images/shape-banner.png");
  background-repeat: no-repeat;
  background-color: #aa1f26;
  background-position: 26% -17%;
}
/*STYLE HEADER ICON*/
.global-icon{
  width:100%;
  float:left;
  text-align: center;
}

.social-icon{
  list-style-type: none;
  margin:0;
  padding:0;
}

.social-icon li {
  display: inline-block;
  padding-right: 8px;
  font-size: 1.0em;
  text-align: left;
}

.social-icon li a {
  color:white;
}

@media screen and (min-width:600px) {
  .global-icon {
    text-align: left;
  }
}

.logo-time-search{
  width:100%;
}
/*LOGO STYLE*/
.logo-box{
 margin-left: auto;
 margin-right: auto;
 width:50%;
 text-align: center;
}

.logo-size {
  width: 190px;
  height:73px;
}
/*TIME BOX*/
.time-box {
  width:100%;
  padding:8px;
  text-align: center;
}
/*CIRCLE ICON STYLE */
.circle-icon-color {
  color:white;
  font-size: 0.5em;
}
/*SEARCH BOX*/
.search-box {
  width:100%;
  background-color:#ffffff;
}

.search-box .form-search-box{
  position: relative;
  width:100%;
}

.form-search-box input {
  width:100%;
  border:1px solid transparent;
  padding:8px;
  border-radius: 0;
  background-color:#f0f0f0;
  color:#797979;
}

.form-search-box button {
  position:absolute;
  left:10px;
  top:7px;
  background-color: transparent;
  border:none;
  padding-top:3px;
}

/*SEARCH ICON STYLE*/
@media screen and (min-width:600px){
  .logo-box{
    width:45%;
    float:right;
    text-align: right;
  }

  .time-box {
    text-align: right;
  } 

  .time-search{
    width:55%;
    float:left;
  }
}

@media screen and (min-width:768px){

  .logo-box{
    width:60%;
    float:right;
    text-align: right;
  }

  .time-search{
    width:40%;
    float:left;
  }
}

@media screen and (min-width:1020px){
  .logo-box{
    width:70%;
    float:right;
  }

  .time-search{
    width:30%;
    float:left;
  }
}
/*Navigation style*/
.main-nav {
  background-color: #444444;
  width:100%;
  color: white;
  text-align: center;
}

.menu-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-bar li:first-child {
  background-color: #333333;
}

.menu-bar li a {
  display:block;
  padding-left:16px;
  font-size: 0.8em;
  padding:8px;
  text-decoration:none;
  color:white;
}

.menu-bar a:hover {
  background-color: #333333;
}

@media screen and (min-width:800px){

  .main-nav {
    text-align: right;
  }

  .menu-bar li {
    display:inline-block
  }

  .menu-bar li a{
    display:inline-block;
    font-size: 0.8em;
    padding:8px;
  }

  .menu-bar li:first-child {
    background-color: #333333;
    border-bottom: 3px solid red;
  } 
}
/*------Start first column---------*/
.first-col {
  width: 100%;
}

.top-news-box {
  background-color: #ffffff;
  padding:8px;
}

.top-news-header {
  width: 100%;
}

.top-news-img {
  width: 100%;
}

@media screen and (min-width:600px) {
  .top-news-header {
    width: 40%;
    float: right;
  }
  .top-news-img {
    width: 60%;
    float: right;
    padding-right: 16px;
  }
}

.top-news-header .title {
  margin: 0;
  padding: 0 0 8px 0;
}

.top-news-header .title > a {
  font-size: 0.75em;
  color: #1a7e43;
}

.top-news-header .lead {
  margin: 0;
  line-height: 1.6em;
  font-size: 0.9em;
  color: #303030;
}

/*START SPECIAL CONVERSATION*/
.special-conversation {
  margin-left: auto;
  margin-right: auto;
}

.special-conversation-content {
  padding:8px;
}

.special-conversation-list {
  list-style-type:none;
  padding:0;
  margin:0;
}

.detail-special-box {
  width:100%;
  background-color: #2c2c2c;
  padding: 4px 8px;
  color:#fff;
  text-align: center;
  min-height:180px;  
}

.detail-special-box a {
  color:#fff;
}

.detail-special-box .uptitle a{
  color:#e599b5; 
}

.detail-special-box .title a{
  line-height: 1.4em;
}

@media screen and (min-width:520px){
  .detail-special-box {
    text-align: right;
  }

  .special-conversation-list li {
    width:50%;
    padding-right:3px;
    float:right;
    margin-top: 0;
  }
}

.second-col {
  width: 100%;
  background-color: rgb(71, 214, 224);
  min-height: 4em;
}

@media screen and (min-width:1100px) {
  .first-col {
    width: 70%;
    float: right;
    padding-left: 16px;
  }

  .second-col {
    width: 30%;
    float: right;
  }
}

.review-box {
  width: 100%;
  background-color: rgb(146, 90, 16);
}

.main-middle-box {
  width: 100%;
}

@media screen and (min-width:900px) {
  .review-box {
    width: 30%;
    float: right;
    padding-left: 16px;
  }
  
  .main-middle-box {
    width: 70%;
    float: left;
  }
}

.latest-news {
  background-color: rgb(42, 197, 120);
}

/* main-footer */
.main-footer {
  background-color: #444;
  text-align: center;
}

.menu-box-footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:100%
}

.menu-bar-footer{
  list-style-type: none;
  margin: 0;
  padding:0;
  background-color: black ; 
}
/*icon class for footer menu*/
.circle-icon {
  color: red;
  font-size:3pt;
  padding-left:4px;
}

.menu-bar-footer li {
  padding-left: 8px;
  display: inline-block;  
}

.menu-bar-footer li a{
  color:white;
  text-decoration: none;
  font-size: small; 
}
/*MENU BOX STYLE*/
.about-me {
  text-align:center;
}

.ul-about-me{
  list-style-type: none;
  padding:0;
  margin: 0;
}

.ul-about-me li{
  display:inline-block;
  padding-left:8px;
}

.ul-about-me li a {
  color:white;
  font-size: small;
  text-decoration:none;
}
/*ICON FOOTER STYLE*/
.icon-box-footer{
  width:100%;
}

.ul-fa-footer{
  list-style-type: none;
  margin:0;
  padding:0;
}

.ul-fa-footer li {
  display: inline-block;
  padding-right: 8px;
  font-size: small;
}

.ul-fa-footer li a {
  color:white;
}
/*COPY RIGHT STYLE*/
.copy-right {
  color:red;
  font-size: small;
}
/*ASAAM*/
.asam{
  font-size:xx-small;
}

.asam a {
  color:white;
  text-decoration: none;
} 




