@import url("../css/global.css");

@import url("../css/font-awesome/font-awesome.min.css");

@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir.eot') format('embedded-opentype'),
      url('../font/Vazir.woff2') format('woff2'),
      url('../font/Vazir.woff') format('woff'),
      url('../font/Vazir.ttf') format('truetype');
  font-weight: normal;
}
  
@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Bold.eot') format('embedded-opentype'),
      url('../font/Vazir-Bold.woff2') format('woff2'),
      url('../font/Vazir-Bold.woff') format('woff'),
      url('../font/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Thin.eot') format('embedded-opentype'),
      url('../font/Vazir-Thin.woff2') format('woff2'),
      url('../font/Vazir-Thin.woff') format('woff'),
      url('../font/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
}
  
@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Light.eot') format('embedded-opentype'),
      url('../font/Vazir-Light.woff2') format('woff2'),
      url('../font/Vazir-Light.woff') format('woff'),
      url('../font/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}
  
@font-face {
  font-family:'Vazir';
  src:url('../font/Vazir-Medium.eot') format('embedded-opentype'),
      url('../font/Vazir-Medium.woff2') format('woff2'),
      url('../font/Vazir-Medium.woff') format('woff'),
      url('../font/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family:'FontAwesome';
  src:url('../font/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
      url('../font/fonts/fontawesome-webfont.woff2') format('woff2'),
      url('../font/fonts/fontawesome-webfont.woff') format('woff'),
      url('../font/fonts/fontawesome-webfont.ttf') format('truetype'),
      url('../font/fonts/fontawesome-webfont.svg') format('svg'),
      url('../font/fonts/FontAwesome.otf') format('otf');
}
/*body*/
body {
  background-color: rgb(230, 227, 227);
  font-family: 'Vazir';
  direction: rtl;
}
/*header style*/
.main-header {
  width:100%;
  background-attachment: fixed;
  text-align: right;
  color: white;
  background-color: #aa1f26;
}

.main-header-background {
  background-image:url("../images/shape-banner.png");
  background-repeat: no-repeat;
  background-color: #aa1f26;
  background-position: 26% -17%;
}
/*STYLE HEADER ICON*/
.global-icon{
  width:100%;
  float:left;
  text-align: center;
  padding-top:8px;
}

.social-icon{
  list-style-type: none;
  margin:0;
  padding:0;
}

.social-icon li {
  display: inline-block;
  font-size: 1.0em;
  text-align: left;
}

.social-icon li a {
  color:white;
}

@media screen and (min-width:600px) {
  .global-icon {
    text-align: left;
  }
}

.logo-time-search {
  width:100%;
}
/*LOGO STYLE*/
.logo-box{
 margin-left: auto;
 margin-right: auto;
 width:50%;
 text-align: center;
}

.logo-size {
  width: 190px;
  height:73px;
}
/*TIME BOX*/
.time-box {
  width:100%;
  padding:8px;
  text-align: center;
  font-size:0.85em;
}
/*CIRCLE ICON STYLE */
.circle-icon-color {
  color:white;
  font-size: 0.5em;
}
/*SEARCH BOX*/
.search-box {
  width:100%;
  background-color:#ffffff;
}

.search-box .form-search-box{
  position: relative;
  width:100%;
}

.form-search-box input {
  width:100%;
  border:1px solid transparent;
  padding:8px;
  border-radius: 0;
  background-color:#f0f0f0;
  color:#797979;
}

.form-search-box button {
  position:absolute;
  left:5px;
  top:14px;
  background-color: transparent;
  border:none;
}

/*SEARCH ICON STYLE*/
@media screen and (min-width:600px){
  .logo-box{
    width:45%;
    float:right;
    text-align: right;
  }

  .time-box {
    text-align: right;
  } 

  .time-search{
    width:55%;
    float:left;
  }
}

@media screen and (min-width:768px){

  .logo-box{
    width:60%;
    float:right;
    text-align: right;
  }

  .time-search{
    width:40%;
    float:left;
  }
}

@media screen and (min-width:1020px){
  .logo-box {
    width:70%;
    float:right;
  }

  .time-search{
    width:30%;
    float:left;
  }
}
/*Navigation style*/
.main-nav {
  background-color: #444444;
  width:100%;
  color: white;
  text-align: center;
}

.toggle {
  display:block;
  font-size:1.7em;
  padding:8px;
  width:100%;
  box-sizing: border-box;
  cursor: pointer;
}

.menu-bar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-bar {
  display:none;
  width:100%;
}

.menu-bar li {
  display:block;
}

.menu-bar li:first-child {
  background-color: #333333;
}

.menu-bar li a {
  display:block;
  text-decoration:none;
  color:white;
  padding:8px 10px;
  font-size:0.95em;
}

.menu-bar li:hover {
  background-color: #333333;
}

@media screen and (min-width:950px){

  .main-nav {
    text-align: right;
  }

  .menu-bar {
    display:inline-block;
  }

  .toggle {
    display:none;
  }

  .menu-bar li {
    display: inline-block;
  }
 
  .menu-bar li:first-child {
    background-color: #333333;
    border-bottom: 3px solid #ce1010;
  } 
}
/*------Start first column---------*/
.first-col {
  width: 100%;
}

.top-news-box {
  background-color: #ffffff;
  padding:8px;
  transition: all 0.3s;
}

.top-news-header {
  width: 100%;
}

.top-news-img {
  width: 100%;
}

@media screen and (min-width:600px) {
  .top-news-header {
    width: 40%;
    float: right;
  }
  .top-news-img {
    width: 60%;
    float: right;
    padding-right: 16px;
  }
}

.top-news-header .title {
  margin: 0;
  padding: 0 0 8px 0;
}

.top-news-header .title > a {
  font-size: 0.75em;
  color: #1a7e43;
  transition: 0.5s;
}

.top-news-box:hover {
  background-color: #f2f2f2;
}

.top-news-box:hover .top-news-header .title > a {
  color: #aa1f26;
}

.top-news-header .lead {
  margin: 0;
  line-height: 1.6em;
  font-size: 0.9em;
  color: #303030;
}

/*START SPECIAL CONVERSATION*/
.special-conversation {
  margin-left: auto;
  margin-right: auto;
}

.header-special-conversation {
  border-bottom: 1px solid #e2e2e2;
}

.header-special-conversation:hover .global-title-section a {
  color:#dac0c0;
  transition-duration: 2s;
}

.special-conversation-content {
  padding:8px;
}

.special-conversation-list {
  list-style-type:none;
  padding:0;
  margin:0;
}

.detail-special-box {
  width:100%;
  background-color: #2c2c2c;
  padding: 8px 12px;
  color:#fff;
  text-align: center;
  min-height:180px;  
}

.special-conversation-list li:hover .detail-special-box .title a {
  color:#e599b5;
  transition-timing-function: ease-out;
}

.detail-special-box .uptitle {
  color:#e599b5; 
  font-size: 0.8em;
  padding-top:10px;
}

.detail-special-box .title {
  padding-top:8px;
}

.detail-special-box .title a{
  line-height: 1.7em;
  font-size: 0.9em;
  color:#fff;
  transition: 0.5s;
}

@media screen and (min-width:520px){
  .detail-special-box {
    text-align: right;
  }

  .special-conversation-list li {
    width:50%;
    float:right;
    margin-top: 0;
    border:1px solid #fff;
  }
}
/*START TITR-SECOND BOX*/
.second-titr {
  margin-left: auto;
  margin-right: auto;
}

.header-second-titr {
  border-bottom: 1px solid #e2e2e2;
  padding:0;
  margin:0;
}

.header-second-titr:hover .global-title-section a {
  color:#c7bdc1;
  transition:2s;
}

.second-titr-list {
  list-style-type: none;
  padding:0;
  margin:0;
}

.second-titr-list > li {
  border-bottom: 1px solid #e2e2e2;
  padding:8px;
  max-width: 100%;
}

.second-titr-img {
  width:100%;
}

.second-titr-img img{
  width:100%;
  display: block;
  height: auto;  
}

.second-titr-content {
  width:100%;
  text-align: center;
  padding-top:8px;
}

.second-titr-content .subtitle {
  color:#4e784a;
  font-size: 0.8em; 
  padding-bottom: 5px; 
}

.second-titr-content .title {
  font-size:1.0em;
  line-height: 1.7em;
  padding-bottom: 6px;
}

.second-titr-list  li:hover .second-titr-content .title a {
  color:#aa1f26;
}

.second-titr-list  li:hover {
  background-color: #f2f2f2;
}

.second-titr-content .lead {
  line-height: 1.5em;
  font-size: 0.8em;
  color: #857a78;
}

.second-titr-content a {
  color:#30413b;
  transition: 0.5s;
}

.archive-box {
  width:100%;
  text-align: center;
  padding:15px 0px;
}

@media screen and (min-width:600px){

  .second-titr-img {
    width:30%;
    float:right;
  }

  .second-titr-content {
    width:70%;
    float:left;
    text-align: right;
    padding-right:14px;
    padding-top:0;
  }
}

.second-col {
  width: 100%;
}

@media screen and (min-width:1100px) {
  .first-col {
    width: 75%;
    float: right;
    padding-left: 16px;
  }

  .second-col {
    width: 25%;
    float: right;
  }
}
/*START REVIEW BOX*/
.review-box {
  width: 100%;
}

.review-section {
  width:100%;
}

.review-content {
  padding:8px;
}

.header-review-section {
  border-bottom: 1px solid  #f0f0f0;
  margin:0;
  padding:0;
}

.header-review-section:hover .global-title-section a {
  color:#c7bdc1;
  transition:2s;
}

.review-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.review-list > li {
  border-bottom: 1px solid #e6e6e6;
  padding: 8px 0;
  transition: 0.5s;
}

.review-list li:hover {
  background-color: #f1f1f1;
}

.review-img-time {
  width:36%;
  float:right;
}

.review-img {
  width:100%;
}

.review-img img {
  width:100%;
  display:block;
  height:auto;
}

.review-time {
  font-size: 0.65em;
  width: 100%;
  text-align: center;
  padding-top:8px;
  color:#838b8e;
}
 
.review-title-author {
  width:64%;
  float:left;
  padding-right:8px;
}

.review-uptitle {
  font-size:0.75em;
  line-height: 1.5em;
  color:#494953;
  padding: 8px 0;
  font-weight: normal;
}

.review-title {
  font-size: 0.87em;
  line-height: 1.7em;
  padding-bottom: 8px;
}

.review-title  a {
  color:#424d53;  
}

.review-list > li:hover .review-title  a {
  color:#aa1f26;  
  transition: 1s;
}

.review-author {
  color :#52a962;
  font-size:0.75em;
}

.review-archive {
  text-align: center;
  padding:15px;
}

@media screen and (min-width:600px){
  .review-list > li {
    width: 50%;
    float:right;
    min-height: 170px;
  }
}

@media screen and (min-width:900px){
  .review-list > li {
    width: 100%;
    min-height: 0;
  }
}
/*END REVIEW BOX*/
.main-middle-box {
  width: 100%;
}

@media screen and (min-width:900px) {
  .review-box {
    width: 35%;
    float: right;
    padding-left: 16px;
  }
  
  .main-middle-box {
    width: 65%;
    float: left;
  }
}
/*START LATEST NEWS BOX*/
.latest-news {
  width:100%;
}

.header-latest-news {
  width:100%;
  background-color: #444444;
}

.header-latest-list {
  list-style-type: none;
  padding:0;
  margin: 0;
}

.header-latest-list > li {
  display:inline-block;
  padding:8px;
}

.header-latest-list li:first-child {
  border-bottom:3px solid #ca2825;
}

.header-latest-list  li a {
  color:#fff;
  transition:1s;
  transition-timing-function: linear;
}

.header-latest-list li a:hover {
  color:#aa1f26;
}

.latest-news-content {
  padding:8px;
}

.latest-content-list {
  list-style-type: none;
  padding:0;
  margin: 0;
}

.latest-content-list li {
  border-bottom: 1px solid #eeeeee;
  padding:8px 0;
  position: relative;
}

.latest-content-list li:hover {
  background-color: #f1f1f1;
}

.latest-content-list li a {
  color:#302917;
  font-size:0.8em;  
  line-height: 1.6em;
  padding-right:15px;
  display:inline-block
}

.latest-content-list li a:hover {
  color: #aa1f26;
}

.icon-latest-content {
  color:#cc2225;
  font-size: 0.45em;
  position:absolute;
  top:15px;
}

.archive-latest-box {
  padding:10px;
  text-align: center;
  margin:0 auto;
}

@media screen and (min-width:600px){
  .latest-content-list > li {
    width:50%;
    min-height: 70px;
    float:right;
    padding-left:5px;
  }
} 

@media screen and (min-width:800px){
  .latest-content-list li {
    width:33.33%;
    min-height: 70px;
    float:right;
  }
}

@media screen and (min-width:1100px){
  .latest-content-list li {
    width:100%;
    min-height:0;
  }
}

/* main-footer */
.main-footer {
  background-color:#1d1d1d;
  text-align: center;
  background-image: url('../images/footer-banner.png');
  background-repeat: no-repeat;
  background-position:left bottom;
}

.menu-box-footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width:100%;
  background-color: #111111;
}

.menu-bar-footer{
  list-style-type: none;
  margin: 0;
  padding:0;
}
/*icon class for footer menu*/
.icon-menu-footer {
  color:#c8251c;
  font-size:0.25em;
  padding: 0px 5px;
}

.menu-bar-footer li {
  padding:12px 0;
  display: inline-block;  
}

.menu-bar-footer li a{
  color:#fff;
  text-decoration: none;
  font-size: 0.85em;
  transition: 0.5s;
}

.menu-bar-footer li:hover {
  background-color: #333333;
}
/*ABOUT ME BOX STYLE*/
.about-me {
  text-align:center;
  padding-top:8px ;
}

.about-me-list{
  list-style-type: none;
  padding:0;
  margin: 0;
}

.about-me-list li{
  display:inline-block;
  padding:5px;
  transition: 0.5s;
}

.about-me-list li:hover {
  background-color: #333333;
}

.about-me-list li a {
  color:#c9bec6;
  font-size: 0.92em;
  text-decoration:none;
}
/*ICON FOOTER STYLE*/
.social-icon-footer {
  width:100%;
  padding-bottom: 10px;
}

.social-icon-footer-list{
  list-style-type: none;
  margin:0;
  padding:0;
}

.social-icon-footer-list li {
  display: inline-block;
  font-size: 0.98em;
  padding-top: 8px;
  transition: 0.5s;
}

.social-icon-footer-list li:hover {
  background-color: #333333;
}

.social-icon-footer-list li a {
  color:#ffffff;
 
}
/*COPY RIGHT STYLE*/
.copy-right {
  color:#f08c96;
  font-size: 0.9em;
  padding: 10px 0;
  text-align: center;
}
/*ASAAM*/
.asam {
  padding: 10px 0;
  width: 140px;
  background-image: url("../images/asaam.png");
  background-position: right center;
  background-repeat: no-repeat;
  margin: 8px auto;

}

.asam a {
  padding-right: 18px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
} 

/*START NEWS PAGE */
.n-first-col{
  width:100%;
}

@media screen and (min-width:800px){
  .n-first-col{
    width:60%;
    float:right;
    padding-left: 16px;
  }
}

.article-inner {
  padding:12px;
}

.header-article {
  width:100%;
}

.header-article .article-title a{
  color: #1e1e1e;
  font-size: 0.75em;
  line-height: 1.5em;
}

.breadcrumb {
  width:100%;
  border: 1px solid #e3e3e3;
  margin: 16px 0;
  padding:12px;
  background-color: #fff;
}

.breadcrumb-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-bottom: 4px;
}

.breadcrumb-list li {
  display:inline-block;
}

.breadcrumb-list li a {
  color: #2d2d2d;
  font-size: 0.9em;
}

.breadcrumb-list i {
  color: #cc2b46;
  font-size: 0.8em;
}

.news-time {
  text-align: center;
  display: block;
}

@media screen and (min-width:420px){
  .breadcrumb-list {
    width: 50%;
    float: right;
    margin: 0;
    text-align: right;
  }

  .breadcrumb-list li {
    display: inline-block;
  }

  .news-time {
    float: left;
    width: 50%;
    text-align: left;
  }

  .breadcrumb-list i {
    padding-right: 4px;
  }
}
/*START CODE-ID AND TOOLS BOX*/
.code-tools {
  width:100%;
  margin-bottom: 12px;
}

.code-tools-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.code-id {
  margin-bottom: 8px;
  color: #5a5d5f;
  text-align: center;
  font-size: 0.9em;
}

.tools {
  text-align: center;
  color: #5a5d5f;
}

.code-tools i {
  color: #248b1b;
}

.code-tools a {
  width: 100%;
  color: #5a5d5f;
  font-size: 0.9em;
}

.print-box {
  border-left: 1px solid #e3e3e3;
  padding-left: 12px;
}

.plus-square-icon {
  padding-right: 12px;
}

@media screen and (min-width:500px){
  .code-id {
    float:right;
    width:40%;
    text-align: right;
  }

  .tools {
    text-align: left;
    float:left;
    width: 60%;
  }
}

.article-body {
  width: 100%;
}

.lead-news {
  width:100%;
  background-color: #e6e6e6;
  margin-bottom: 12px;
  border-right: 4px solid #c3c3c3;
  line-height: 1.7em;
  font-size: 0.9em;
  padding: 8px;
}

.primary-file {
  width: 100%;
  margin-bottom: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.primary-file img {
  width:100%;
  display: block;
  height: auto;
}

.editor-detail {
  width: 100%;
  margin-bottom: 12px;
}

.editor-detail span {
  color:#8c1916;
  font-size: 0.99em;
  font-weight: bold;
}

.editor-detail p {
  color:#000;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top:16px;
}

.editor-detail table {
  width: 100%;
  border: 1px solid #e3e3e3;
  text-align: center;
  border-collapse: collapse;
  margin:12px 0;
}

.editor-detail tr,
.editor-detail th,
.editor-detail td {
  border: 1px solid #e3e3e3;
}

.editor-detail th,
.editor-detail td {
  padding: 8px;
}

.editor-detail video {
  width: 100%;
  height: auto;
}

.editor-detail img {
  width: 100%;
  display: block;
  height: auto;
}

.editor-detail h2 {
  color: #8f120e;
  font-size: 0.95em;
  padding-right: 24px;
  margin: 16px auto;
  margin-top: 42px;
}

.editor-detail ul {
  list-style-type: none;
  margin-right: 50px;
  padding-right: 16px;
  border-right: 3px solid #b20002;
  margin-bottom: 42px;
}

.editor-detail li {
  padding: 4px 0;
}

.editor-detail ul li a {
  font-size: 0.88em;
  line-height: 1.7em;
  font-weight: bold;
  color: #000;
}

.n-special {
  width: 100%;
  margin-bottom: 12px;
}

.n-special h4 {
  color: #c02628;
  font-weight: bold;
  padding: 16px 0;
}

.n-special-content {
  width: 100%;
}

.n-special-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.n-special-list li {
  padding-bottom: 8px;
  padding-right: 8px;
}

.n-special-list li a {
  color: #11a3ec;
  font-size: 0.9em;
}

.tinylink-tag {
  width:100%;
}

.tag {
  width:100%;
}

.tinylink-tag .tag a {
  border-right:5px solid #931f1f;
  background-color: #c92627;
  color:#fff;
  padding: 4px;
  font-size: 0.85em;
  margin: 0 0 8px 8px;
  display: inline-block;
}

.tiny-link {
  width: 100%;
  border: 1px solid #a8a8a8;
  padding: 8px;
  margin-top: 16px;
}

.tiny-link a,
.tiny-link i {
  color:#a8a8a8;
  font-size: 0.79em;
  text-align: left;
  float: left;
}

.tiny-link i {
  padding-right: 8px;
}

@media screen and (min-width:620px){
  .tag {
    width:50%;
    float: right;
  }
  
  .tiny-link {
    width: 50%;
    float: left;
  }

  .tiny-link {
    margin-top: 0;
  }
}

@media screen and (min-width:800px){
  .tag {
    width:100%;
  }
  
  .tiny-link {
    width: 100%;
  }

  .tiny-link {
    margin-top:16px;
  }
}

@media screen and (min-width:941px){
  .tag {
    width:45%;
    float: right;
  }
  
  .tiny-link {
    width: 55%;
    float: left;
  }

  .tiny-link {
    margin-top: 0px;
  }
}

.rate  {
  width: 100%;
  margin: 16px 0;
  font-weight: bold;
}

.rate-good-news {
  padding-left: 12px;
}

.rate  .like-icon {
  color: #17884a;
  padding-left: 16px;
  cursor: pointer;
}

.rate #like {
  color: #17884a;
  font-size: 0.75em;
}

.rate .unlike-icon {
  color: #b40000;
  cursor: pointer;
}

.rate #unlike {
  color: #b40000;
  font-size: 0.75em;
}

.n-social {
  width: 100%;
  margin-bottom: 12px;
  text-align: left;
}

.n-social a i {
  color: #616b62;
  font-size: 0.8em;
  background-color: #eaeaea;
  padding: 8px;
  border-radius: 5px;
  margin-right: 4px;
}

.n-social .facebook {
  padding:8px 11px;
}

.related-news {
  width: 100%;
  margin-bottom: 16px;
}

.related-news-header {
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.75em;
}

.related-news-content {
  padding: 8px;
}

.related-news-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.related-news-list li {
  padding:8px;
  border-bottom: 1px solid #f0f0f0;
}

.related-news-list li:last-child {
  border-bottom: none;
}

.related-news-list li a {
  color: #26233e;
  font-size: 0.85em;
}

.related-news-list i{
  color: #c32b26;
  font-size: 0.4em;
  padding-left: 5px;
}

.comment {
  width: 100%;
  margin-bottom: 16px;
}

.comment a {
  font-size: 0.7em;
}

.comment-content {
  padding: 24px 16px 16px 16px;
}

.right-comment {
  width: 100%;
}

.right-comment label {
  color: #9e245d;
  padding: 8px;
  font-size: 0.9em;
}

.right-comment input {
  margin: 8px 0 16px 0;
  border: 1px solid #cecece;
  padding: 4px;
  width: 100%;
}

.left-comment{
  width: 100%;
}

.left-comment label {
  color: #9e245d;
  padding: 8px;
  font-size: 0.9em;
}

.left-comment textarea {
  width: 100%;
  resize: none;
  border:1px solid #cecece;
  height:150px;
  margin-top: 8px;
}

.left-comment .submit-button {
  width: 45%;
  color: #fff;
  text-align: center;
  padding: 8px;
  background-color: #c92627;
  float:left;
  margin-top: 12px;
  font-size: 0.9em;
  border: none;
}

@media screen and (min-width:550px){
  .right-comment {
    width: 35%;
    float: right;
    padding-left:12px;
  }

  .left-comment {
    width: 65%;
    float: left;
  }
}

.n-second-col {
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (min-width:800px){
  .n-second-col{
    width:30%;
    float:right;
    padding-left: 16px;
  }
}

@media screen and (min-width:1000px){
  .n-second-col{
    width:26%;
    float:right;
    padding-left: 16px;
  }
}

.n-latest-news h4 a {
  font-size:0.96em;
}

.n-latest-news .latest-news-content li {
  width:100%;
  min-height: 0;
}
/*START OTHET-MEDIA BOX */
.other-media {
  width:100%;
  margin: 16px 0;
}

.other-media header {
  border-bottom : 1px solid #e5e5e5;
  font-size: 0.75em;
}

.other-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.other-media-list li {
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid #e5e5e5;
  transition: 0.5s;
}

.other-media-list li:hover a {
  color: #c92627;
}

.other-media-list li:hover {
  background-color: #f0f0f0;
}

.other-media-img {
  width: 40%;
  float: right;
}

.other-media-img img {
  display: block;
  height: auto;
  width: 100%;
}

.other-media-content {
  width: 60%;
  padding-top: 8px;
  float:left;
  padding-right: 12px;
}

.other-media-content a{
  width: 100%;
  color: #31070b;
  font-size: 0.9em;
  transition: 1s;
}

@media screen and (min-width:600px) {
  .other-media-list li {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width:800px) {
  .other-media-list li {
    width: 100%;
    float: left;
  }
}
/*START REPORT-VIEW BOX*/
.report-view {
  width: 100%;
}

.report-view-header {
  border-bottom: 1px solid #e8e8e8;
  font-size: 0.75em;
}

.report-view-content {
  padding: 8px;
}

.report-view-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.report-view-content img {
  width: 100%;
  height: auto;
  display: block;
  filter: grayscale(0.1);
}

.report-view-content i {
  position: absolute;
  left: 5%;
  top:9%;
  color : #fff;
  transition: 0.5s;
}

#slide-pic li > a:hover .fa-camera {
  left: calc(50% - 28px);
  top: calc(50% - 22px);
  font-size: 3em;
}

#slide-pic li > a:hover img {
  filter: grayscale(0.5);
}

.report-view-detail .report-title {
  padding: 8px 0 16px 0;
}

.report-view-detail .report-title a {
  color: #000;
  font-size: 0.58em;
}

#slide-pic {
  direction: rtl;
}

#slide-pic li > a {
  position: relative;
}

.report-view ul li::after {
  display: table;
  clear: both;
  content: "";
}

.lSSlideOuter {
  direction: ltr;
}
/*START THIRD COLUMN*/
.n-third-col {
  width: 100%;
}

@media screen and (min-width:800px) {
  .n-third-col {
    width: 10%;
    float: right;
  }
}

@media screen and (min-width:1000px) {
  .n-third-col {
    width: 14%;
    float: right;
  }
}

.new-music {
  width: 100%;
  background-color: #444444;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/*START SERVICE PAGE */
.l-first-col {
  width: 100%;
  background-color: green;
}

@media screen and (min-width:800px) {
  .l-first-col {
    width: 70%;
    padding-left: 8px;
    float: right;
  }
}

.l-top-news {
  width: 100%;
  background-color: hotpink;
}

.l-top-news-inner {
  padding:8px;
}

.l-news-image {
  width: 100%;
}

.l-news-image img {
  width:100%;
  display: block;
  height: auto;
}

.l-news-content {
  width: 100%;
}

.l-news-title {
  width: 100%;
  color: #3f7e43;
}

.Cultural {
  width: 100%;
  background-color: indigo;
}

.l-second-col {
  width: 100%;
  background-color: rgb(184, 170, 197);
}

@media screen and (min-width:800px) {
  .l-second-col {
    width: 30%;
    float: left;
  }
}
/*START REVIEW-BOX SWEVICE*/
.l-review-box {
  width: 100%;
}

.l-review-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.l-review-list li {
  width:100%;
  padding: 8px 0;
  transition: 0.5s;
}

.l-review-list > li:hover {
  background-color: #f1f1f1;
}

.l-review-list > li:hover .review-title  a {
  color:#aa1f26;  
  transition: 1s;
}

@media screen and (min-width:500px) {
  .l-review-list li {
    width: 50%;
    min-height: 170px;
    float: right;
  }
}

@media screen and (min-width:800px) {
  .l-review-list li {
    width: 100%;
    min-height: 0;
  }
}
/*START LATEST-NEWS*/
.l-latest-content-list > li {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding:8px 0;
  position: relative;
}

.l-latest-content-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.l-latest-content-list li:hover {
  background-color: #f1f1f1;
}

.l-latest-content-list li a {
  color:#302917;
  font-size:0.8em;  
  line-height: 1.6em;
  padding-right:15px;
  display:inline-block
}

.l-latest-content-list li a:hover {
  color: #aa1f26;
}

